* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1, 6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: darkblue;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url(assets/backgrond.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h2 {
    font-size: 2rem;

}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

button {
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.destinos,
.hoteis,
.passagens,
.contato {
    padding: 40px 0;
    text-align: center;
}

.destino-grid,
.hotel-grid,
.passagem-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.destino-item,
.hotel-item,
.passagem-item {
    background-color: rgba(56, 63, 204, 0.166);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(229, 12, 12, 0.1);

}

.destino-item img,
.hotel-item img {
    width: 100%;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #0073e6;
    color: white;
    cursor: pointer;
}

footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px 0;

}